![header-notebooks.png]()

PrÃ¡tica da **Aula 6: Tratamento com Minio e MongoDB**, do curso de **Engenharia de Dados** da **[Awari](https://awari.com.br/)**.

---

# Instalando bibliotecas

In [1]:
!pip install pandas
!pip install pymongo
!pip install boto3
!pip install minio

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.7.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.6.1)
Requirement already satisfied: boto3 in /opt/conda/lib/python3.10/site-packages (1.34.127)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /opt/conda/lib/python3.10/site-packages (from boto3) (0.10.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from boto3) (1.0.1)
Requirement already satisfied: botocore<1.35.0,>=1.34.127 in /opt/conda/lib/python3.10/site-packages (from boto3) (1.34.127)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.10/site-packages (from botocore<1.35.0,>=1.34.127->boto3) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /opt/conda/lib/python3.10/site-packages (from botocore<1.35.0,>=1.34.127->boto3) (1.26.14)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.35.0,>=1.34.127->boto3) (1.16.0)
Requirement already satisfied: minio in /opt/conda/lib/python3.10/site-packages (7.2.7)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.10/site-packages (from minio) (4.4.0)
Requirement already satisfied: certifi in /opt/conda/lib/python3.10/site-packages (from minio) (2022.12.7)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.10/site-packages (from minio) (1.26.14)
Requirement already satisfied: argon2-cffi in /opt/conda/lib/python3.10/site-packages (from minio) (21.3.0)
Requirement already satisfied: pycryptodome in /opt/conda/lib/python3.10/site-packages (from minio) (3.20.0)
Requirement already satisfied: argon2-cffi-bindings in /opt/conda/lib/python3.10/site-packages (from argon2-cffi->minio) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from argon2-cffi-bindings->argon2-cffi->minio) (1.15.1)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.10/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->minio) (2.21)

# Importando bibliotecas

In [3]:
import numpy as np
import pandas as pd
from io import BytesIO
from pymongo import MongoClient
import boto3
from io import StringIO
from minio import Minio

# Minio
Cliente para conectar o Minio

In [9]:
client = boto3.client('s3', 
    endpoint_url='http://awari-minio-nginx:9000',
    aws_access_key_id='lQ57oVs5AH8LK2ql',
    aws_secret_access_key='fRASljtZf2pY6Y9XzSzHHCZwrM1FWex1',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False,
    region_name='sa-east-1'
)

In [10]:
# Salvando nosso primeiro arquivo no Minio
data = {
    'macas': [3, 2, 0, 1], 
    'laranjas': [0, 3, 7, 2]
}

compras = pd.DataFrame(data, index=['Alex', 'Roberto', 'Bernardo', 'Paulo'])

csv_buffer = StringIO()
compras.to_csv(csv_buffer)
client.put_object(Body=csv_buffer.getvalue(), Bucket='aula-06', Key="exemplos/compras.csv")

{'ResponseMetadata': {'RequestId': '17D9CD1E2431A4C2',
  'HostId': 'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'nginx/1.19.2',
   'date': 'Mon, 17 Jun 2024 13:17:42 GMT',
   'content-length': '0',
   'connection': 'keep-alive',
   'accept-ranges': 'bytes',
   'content-security-policy': 'block-all-mixed-content',
   'etag': '"ff0e787fc7fe74fb3fc321c5c0aadf5c"',
   'strict-transport-security': 'max-age=31536000; includeSubDomains',
   'vary': 'Origin, Accept-Encoding',
   'x-amz-bucket-region': 'sa-east-1',
   'x-amz-id-2': 'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855',
   'x-amz-request-id': '17D9CD1E2431A4C2',
   'x-content-type-options': 'nosniff',
   'x-xss-protection': '1; mode=block'},
  'RetryAttempts': 0},
 'ETag': '"ff0e787fc7fe74fb3fc321c5c0aadf5c"'}

### Va ate o Dashboard do Minio para visualizar o seu arquivo.
- Veja que foi criado uma pasta automaticamente
- FaÃ§a download do arquivo e verifique o resultado

# MongoDB
Iremos salvar agora o nosso dataFrame em um banco de dados nÃ£o relacional, apenas para ver que Ã© possivel o pandas salvar o resultados em alguns bancos de dados

In [15]:
# Load csv dataset

obj = client.get_object(
    Bucket='aula-06', 
    Key="exemplos/compras.csv"
).get("Body")

data = pd.read_csv(obj)

# Connect to MongoDB

client_mongodb =  MongoClient("mongodb://root:rootpassword@awari-mongodb:27017/?serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-256")
db = client_mongodb['exercicios']
collection = db['compras']
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
# Insert collection
collection.insert_many(data_dict)
data

   index Unnamed: 0  macas  laranjas
0      0       Alex      3         0
1      1    Roberto      2         3
2      2   Bernardo      0         7
3      3      Paulo      1         2

# VocÃª pode usar o Studio 3T para visualizar os dados no mongoDB

![Studio 3T](arquivos/imgs/studio3t.png)

In [12]:
# Salvando data set organizando por pastas no Minio

df = pd.read_csv('arquivos/customers.csv')

df

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7
1996,1997,Female,91,73158,32,Doctor,7,7
1997,1998,Male,87,90961,14,Healthcare,9,2
1998,1999,Male,77,182109,4,Executive,7,2
1999,2000,Male,90,110610,52,Entertainment,5,2

In [13]:
df = df.fillna("-") # NÃ³s precisamos atrelar o resultado a variavel principal
profissoes = df['Profession'].drop_duplicates()
profissoes

0        Healthcare
1          Engineer
3            Lawyer
4     Entertainment
5            Artist
12        Executive
14           Doctor
16        Homemaker
54        Marketing
79                -
Name: Profession, dtype: object

In [14]:
for row in profissoes:
    df_by_profession = df.query("Profession == '" + row + "'")
    
    if row == "-":
        folder_name = 'empty'
    else:
        folder_name = row
        
    csv_buffer = StringIO()    
    csv = df_by_profession.to_csv(csv_buffer)
    client.put_object(Body=csv_buffer.getvalue(), Bucket='aula-06', Key=f'datalake/{folder_name}/{folder_name}.csv')

---

Notebook utilizado para fins educacionais da **Awari**.

**Â© AWARI. Todos os direitos reservados.**