# Importações

In [1]:
import pandas as pd

# Carregamento dos Dados

In [3]:
data = pd.read_csv('./arquivos/topyoutube.csv')
data.head(5)

          Artist Total Views  100M     Avg
0            BTS    27,947.9  63.0   7.370
1      Bad Bunny    27,573.4  66.0  14.555
2  Justin Bieber    27,399.7  37.0   3.986
3     Ed Sheeran    26,894.0  39.0   4.609
4   Taylor Swift    24,350.0  38.0   5.716

# Tratamento dos Dados

## Tratar as colunas sem informação adicionando o texto “Não informado”.

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1587 entries, 0 to 1586
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Artist       1587 non-null   object
 1   Total Views  1587 non-null   object
 2   100M         1416 non-null   float64
 3   Avg          1587 non-null   float64
dtypes: float64(2), object(2)
memory usage: 49.7+ KB

In [7]:
# Como, nesse caso, a única coluna com valores faltantes é '100M', portanto, todo dado NA será tratado como 0
data['100M'] = data['100M'].fillna(0)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1587 entries, 0 to 1586
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Artist       1587 non-null   object
 1   Total Views  1587 non-null   object
 2   100M         1587 non-null   float64
 3   Avg          1587 non-null   float64
dtypes: float64(2), object(2)
memory usage: 49.7+ KB

## Formatar coluna “AVG” para 2 casas decimais depois da vírgula

In [10]:
data['Avg']

0        7.370
1       14.555
2        3.986
3        4.609
4        5.716
         ...
1582     0.022
1583     0.020
1584     0.039
1585     0.020
1586     0.036
Name: Avg, Length: 1587, dtype: float64

In [11]:
data['Avg'] = data['Avg'].round(2)
data['Avg']

0        7.37
1       14.56
2        3.99
3        4.61
4        5.72
        ...
1582     0.02
1583     0.02
1584     0.04
1585     0.02
1586     0.04
Name: Avg, Length: 1587, dtype: float64

# Análise Exploratória

## Mostrar os top 10 usuários

In [14]:
# Aqui, estou mostrando os 10 usuários com mais visualizações

data.sort_values(by='Total Views', ascending=False).head(10)

                    Artist Total Views  100M   Avg
857        Phan Mạnh Quỳnh       998.9   2.0  0.10
858          Bomba Estéreo       997.6   3.0  0.18
859          The Offspring       995.1   1.0  0.50
860                 Ultimo       994.7   0.0  0.33
861     Humberto e Ronaldo       993.4   1.0  0.35
862         Leandro Borges       993.0   1.0  0.44
863  João Neto e Frederico       991.7   2.0  0.06
864              Vegedream       991.3   1.0  0.51
865            Alex Campos       991.2   1.0  0.48
866         Sasa Kovacevic       985.3   0.0  0.12

## Mostrar primeiros 100 usuários por nome decrescente

In [19]:
list(data.sort_values(by='Artist', ascending=False).head(100)['Artist'])

['Łobuzy',
 'İrem Derici',
 'Ñengo Flow',
 'Çağatay Akman',
 'will.i.am',
 'twenty one pilots',
 't.A.T.u.',
 'miss A',
 'iKON',
 'gnash',
 'f(x)',
 'deadmau5',
 'blink-182',
 'back number',
 'amazarashi',
 'a-ha',
 'Zé Vaqueiro',
 'Zé Ramalho',
 'Zé Neto e Cristiano',
 'Zé Felipe',
 'Zoé',
 'Zouhair Bahaoui',
 'Zion & Lennox',
 'Zendaya',
 'Zedd',
 'Zay & Zayion',
 'Zara Larsson',
 'Zak Chumpae',
 'Zaho',
 'Zack Knight',
 'ZHU',
 'ZAZ',
 'ZAYN',
 'Yuridia',
 'YoungBoy Never Broke Again',
 'Young Thug',
 'Young Money',
 'Young M.A',
 'Yohani',
 'Yo Yo Honey Singh',
 'Yo Gotti',
 'Ylvis',
 'Yinglee Srijumpol',
 'Yemi Alade',
 'Yellow Claw',
 'Yella Beezy',
 'Yelawolf',
 'Years & Years',
 'Yeah Yeah Yeahs',
 'Yasmin Verissimo',
 'Yash Narvekar',
 'Yandel',
 'YOUNGOHM',
 'YNW Melly',
 'YG',
 'YFN Lucci',
 'Y2K',
 'Xantos',
 'XXXTENTACION',
 'X Ambassadors',
 'Wyclef Jean',
 'Woodkid',
 'Wonder Girls',
 'Wolfine',
 'Wiz Khalifa',
 'Within Temptation',
 'Wisin & Yandel',
 'Wisin',
 'Willy William',
 'Willow Smith',
 "Why Don't We",
 'Whitney Houston',
 'Whitesnake',
 'Wheatus',
 'Wham!',
 'Westlife',
 'Wesley Safadão',
 'Weird Al Yankovic',
 'Weezer',
 'Warren G',
 'Wanna One',
 'Wale',
 'Wagakki Band',
 'WINNER',
 'WALK THE MOON',
 'Vũ Duy Khánh',
 'Vázquez Sounds',
 'Vremya i Steklo',
 'Vitor Fernandes',
 'Vitaa',
 'Vishal Dadlani',
 'Violetta',
 'Village People',
 'Victor & Leo',
 'Vicentico',
 'Via Vallen',
 'Veysel Mutlu',
 'Veysel',
 'Vengaboys',
 'Vegedream']

## Salvar um novo CSV com a informação tratada

In [20]:
data.to_csv('./arquivos/YouTube Tratado.csv')